@import "tailwindcss";


/* Hide scrollbar but keep functionality */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes glitch {
  0% {
    transform: translate(0);
    filter: none;
  }
  20% {
    transform: translate(-2px, 1px);
    filter: hue-rotate(20deg);
  }
  40% {
    transform: translate(2px, -1px);
    filter: hue-rotate(-20deg);
  }
  60% {
    transform: translate(-1px, 2px);
    filter: contrast(1.2);
  }
  80% {
    transform: translate(1px, -2px);
    filter: saturate(1.4);
  }
  100% {
    transform: translate(0);
    filter: none;
  }
}

.animate-glitch {
  animation: glitch 0.15s steps(2) both;
}
